.wrapper {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex: 1;
  padding: 2rem;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
  .pageContent {
    padding: 1rem;
  }
}
